.accordion-colour-closed-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.accordion-colour-closed-type-colour-state-default-expanded-false {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accordion-colour-closed-frame101 {
  gap: 8px;
  width: auto;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(240, 248, 251, 1);
}
.accordion-colour-closed-chevron-down {
  width: 24px;
  height: 24px;
}
.accordion-colour-closed-text {
  color: rgba(29, 28, 26, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 139.9999976158142%;
}
