.header-container {
  width: 100%;
  height: 79px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.header-default-header {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 12px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.header-logos-portswigger {
  width: 249px;
  height: 42px;
}
.header-navigation {
  gap: 40px;
  display: flex;
  align-items: center;
}
.header-products {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-text {
  color: rgba(29, 28, 26, 1);
  height: auto;
  text-align: center;
  line-height: 139.9999976158142%;
}
.header-chevron-down {
  width: 16px;
  height: 16px;
}
.header-solutions {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-text02 {
  color: rgba(29, 28, 26, 1);
  height: auto;
  text-align: center;
  line-height: 139.9999976158142%;
}
.header-chevron-down1 {
  width: 16px;
  height: 16px;
}
.header-research {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-text04 {
  color: rgba(29, 28, 26, 1);
  height: auto;
  text-align: center;
  line-height: 139.9999976158142%;
}
.header-academy {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-text06 {
  color: rgba(29, 28, 26, 1);
  height: auto;
  text-align: center;
  line-height: 139.9999976158142%;
}
.header-support {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-text08 {
  color: rgba(29, 28, 26, 1);
  height: auto;
  text-align: center;
  line-height: 139.9999976158142%;
}
.header-chevron-down2 {
  width: 16px;
  height: 16px;
}
.header-resources {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-text10 {
  color: rgba(29, 28, 26, 1);
  height: auto;
  text-align: center;
  line-height: 139.9999976158142%;
}
.header-chevron-down3 {
  width: 16px;
  height: 16px;
}
.header-button {
  gap: 8px;
  height: 40px;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 102, 51, 1);
}
.header-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: 139.9999976158142%;
}




@media(max-width: 1600px) {
  .header-container {
    height: auto;
  }
}

.footer-column-title-container {
  display: flex;
  position: relative;
}
.footer-column-title-text {
  font-size: 13px;
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 8px;
}

.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  padding-bottom: 32px;
  background-color: #ffffff;
  border-top-width: 3px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-main {
  flex: 0 0 auto;
  width: 1140px;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: 280px;
  margin-right: 280px;
  flex-direction: column;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.footer-container2 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container3 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container4 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container5 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container6 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container7 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-link {
  display: contents;
}
.footer-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}


@media(max-width: 1600px) {
  .footer-text20 {
    border-color: #00acee;
    border-width: 2px;
    padding-left: 20px;
    border-radius: 40px;
    padding-right: 20px;
  }
  .footer-text23 {
    fill: #999998ff;
    color: #999998ff;
  }
}

.base-page-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

