<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PS.NET sample</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: "Arial";
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./hero.css" rel="stylesheet" />
      <div class="hero-container">
        <div class="hero-bannercontent">
          <div class="hero-frame4846">
            <div class="hero-frame5183">
              <div class="hero-frame5181">
                <div class="hero-frame5180">
                  <span class="hero-text DisplayDisplay1">
                    <span>Test like a Pro.</span>
                  </span>
                </div>
              </div>
            </div>
            <span class="hero-text02 HeadingHeading4Light">
              <span>
                Hands-on security testers need the best tools for the job. Tools
                you have faith in, and enjoy using all day long.
              </span>
              <br />
              <span>The tools that other professionals trust.</span>
            </span>
            <div class="hero-frame4847">
              <button class="hero-button">
                <span class="hero-text06 BodyLargeBold">
                  <span>Try for free</span>
                </span>
              </button>
              <button class="hero-button1">
                <span class="hero-text08 BodyLargeBold">
                  <span>Buy - $399</span>
                </span>
                <img
                  alt="ChevronRightI791"
                  src="public/external/chevronrighti791-l91l.svg"
                  class="hero-chevron-right"
                />
              </button>
            </div>
          </div>
          <div class="hero-tasksubmenu">
            <div class="hero-tasksubmenu1">
              <div class="hero-task-item-v2">
                <div class="hero-task-item-v2local">
                  <div class="hero-task-item-v21">
                    <div class="hero-task-itemmastertemplate-v2">
                      <div class="hero-frame4869">
                        <div class="hero-header">
                          <div class="hero-frame4861">
                            <span class="hero-text10">
                              <span class="hero-text11">
                                3. Crawl and audit
                              </span>
                              <span>of ginandjuice.shop</span>
                            </span>
                          </div>
                          <div class="hero-frame4860">
                            <img
                              alt="ButtonsI791"
                              src="public/external/buttonsi791-7xsa.svg"
                              class="hero-buttons"
                            />
                            <div class="hero-frame48611">
                              <button class="hero-buttons1">
                                <img
                                  alt="IconI791"
                                  src="public/external/iconi791-097.svg"
                                  class="hero-icon"
                                />
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="hero-frame4880">
                        <div class="hero-frame4879">
                          <div class="hero-config">
                            <span class="hero-text13 BodyRegular">
                              <span>Crawl and Audit – Lightweight</span>
                            </span>
                          </div>
                          <div class="hero-progress">
                            <img
                              alt="Rectangle460I791"
                              src="public/external/rectangle460i791-pcr8-200h.png"
                              class="hero-rectangle460"
                            />
                          </div>
                          <div class="hero-status">
                            <div class="hero-icons">
                              <img
                                alt="IconI791"
                                src="public/external/iconi791-u8ed.svg"
                                class="hero-icon1"
                              />
                            </div>
                            <span class="hero-text15 BodyRegular">
                              <span>
                                Auditing (estimated 2 minutes remaining)
                              </span>
                            </span>
                          </div>
                          <div class="hero-current-url">
                            <div class="hero-icons1">
                              <img
                                alt="UnionI791"
                                src="public/external/unioni791-62kj.svg"
                                class="hero-union"
                              />
                            </div>
                            <span class="hero-text17 BodyRegular">
                              <span>https://ginandju....catalog/search/9</span>
                            </span>
                          </div>
                        </div>
                        <div class="hero-frame48801">
                          <div class="hero-config1">
                            <span class="hero-text19 BodyRegular">
                              <span>Issues:</span>
                            </span>
                            <div class="hero-frame4868">
                              <div class="hero-frame4858">
                                <div class="hero-datacounter">
                                  <span class="hero-text21 SmallBold">
                                    <span>12</span>
                                  </span>
                                </div>
                                <div class="hero-datacounter1">
                                  <span class="hero-text23 SmallBold">
                                    <span>12</span>
                                  </span>
                                </div>
                                <div class="hero-datacounter2">
                                  <span class="hero-text25 SmallBold">0</span>
                                </div>
                                <div class="hero-datacounter3">
                                  <span class="hero-text26 SmallBold">
                                    <span>12</span>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="hero-frame4865">
                            <div class="hero-frame4866"></div>
                          </div>
                          <div class="hero-frame48661">
                            <div class="hero-frame48662"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hero-task-item-v22">
                <div class="hero-task-item-v2local1">
                  <div class="hero-task-item-v23">
                    <div class="hero-task-itemmastertemplate-v21">
                      <div class="hero-frame48691">
                        <div class="hero-header1">
                          <div class="hero-frame48612">
                            <span class="hero-text28">
                              <span class="hero-text29">4. Crawl</span>
                              <span>of ginandjuice.shop</span>
                            </span>
                          </div>
                          <div class="hero-frame48601">
                            <img
                              alt="ButtonsI791"
                              src="public/external/buttonsi791-9eu.svg"
                              class="hero-buttons2"
                            />
                            <div class="hero-frame48613">
                              <button class="hero-buttons3">
                                <img
                                  alt="IconI791"
                                  src="public/external/iconi791-f4hi.svg"
                                  class="hero-icon2"
                                />
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="hero-frame48802">
                        <div class="hero-frame48791">
                          <div class="hero-config2">
                            <span class="hero-text31 BodyRegular">
                              <span>Crawl</span>
                            </span>
                          </div>
                          <div class="hero-progress1">
                            <img
                              alt="Rectangle460I791"
                              src="public/external/rectangle460i791-xsm-200h.png"
                              class="hero-rectangle4601"
                            />
                          </div>
                          <div class="hero-status1">
                            <div class="hero-icons2">
                              <img
                                alt="IconI791"
                                src="public/external/iconi791-e3mb.svg"
                                class="hero-icon3"
                              />
                            </div>
                            <span class="hero-text33 BodyRegular">
                              <span>
                                Crawling (estimated 2 minutes remaining)
                              </span>
                            </span>
                          </div>
                          <div class="hero-current-url1">
                            <div class="hero-icons3">
                              <img
                                alt="UnionI791"
                                src="public/external/unioni791-ow57.svg"
                                class="hero-union1"
                              />
                            </div>
                            <span class="hero-text35 BodyRegular">
                              <span>https://ginandju....catalog/search/9</span>
                            </span>
                          </div>
                        </div>
                        <div class="hero-frame48803"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
