.primary-button-icon-right-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.primary-button-icon-right-button {
  gap: 8px;
  width: auto;
  height: auto;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  flex-shrink: 0;
  border-width: 0px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 102, 51, 1);
}
.primary-button-icon-right-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: 139.9999976158142%;
}
.primary-button-icon-right-chevron-right {
  width: 16px;
  height: 16px;
}
